<div class="container mt-5">
  <div class="row justify-content-center mb-5">
    <div class="col-12 col-md-10">
      <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" class="form-container">
        <h2>Zum Kurs anmelden!</h2>

        <!-- Name Input -->
        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Name</mat-label>
          <input matInput type="text" formControlName="name" placeholder="Name eingeben"/>
        </mat-form-field>

        <!-- Birthdate Input -->
        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Geburtsdatum</mat-label>
          <input matInput type="date" formControlName="birthdate"/>
        </mat-form-field>

        <!-- Course Selection -->
        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Kurs auswählen</mat-label>
          <mat-select id="courseId" formControlName="courseId" required>
            <mat-option value="" disabled>Bitte auswählen</mat-option>
            <mat-option *ngFor="let course of storeService.courses" [value]="course.id">
              {{ course.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Newsletter Checkbox-->
        <mat-checkbox formControlName="newsletter" class="mt-2">
          Für den Newsletter anmelden
        </mat-checkbox>

        <!-- Submit Button -->
        <button mat-raised-button color="primary" type="submit" class="submit-button mt-3">
          Erfassen
        </button>
      </form>
    </div>
  </div>
</div>


<div class="position-fixed top-0 end-0 p-3" style="z-index: 2000" *ngIf="showToast">
  <div class="toast show align-items-center text-white bg-success border-0" role="alert">
    <div class="d-flex">
      <div class="toast-body">
        Kursanmeldung erfolgreich!
      </div>
      <button
        type="button"
        class="btn-close btn-close-white me-2 m-auto"
        aria-label="Close"
        (click)="showToast = false"
      ></button>
    </div>
  </div>
</div>
